<!DOCTYPE html>
<html lang="en" th:fragment="ConfigFragment" xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org">
<head>
    <title></title>
    <meta charset="UTF-8">
    <link href="../css/bootstrap.min.css"
          rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <style>
        .error {
            border-color: #dc3545;
            color: #dc3545
        }

        .image-preview {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            object-fit: cover;
            border: 3px solid #106af2;
        }

        .image-container {
            text-align: center;
            margin-top: 15px;
        }
    </style>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

</head>
</html>