/* 전체 배경색 */
body {
    background-color: #828486; /* 밝은 회색 배경 */
    font-family: 'Arial', sans-serif;
}

/* 컨테이너 스타일 */
.container {
    background-color: #ffffff; /* 흰색 배경 */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* 제목 스타일 */
h1, h2 {
    color: #007bff; /* 어두운 회색 */
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}

/* 버튼 스타일 */
.btn-outline-primary {
    background-color: #007bff; /* 파란색 배경 */
    color: #ffffff; /* 흰색 텍스트 */
    border: none;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-outline-primary:hover {
    background-color: #0056b3; /* 더 어두운 파란색 */
    transform: scale(1.05);
}

/* 입력 필드 스타일 */
.form-control {
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 10px;
}

/* 검색 버튼과 입력 필드 높이 맞추기 */
.input-group .form-control, .input-group .btn {
    height: auto;
    margin: 0;
    display: flex;
    align-items: center;
}

/* 네비게이션 바 스타일 */
.navbar {
    background-color: #343a40; /* 어두운 회색 */
    padding: 10px;
    border-radius: 5px;
}

.navbar .nav-item .nav-link {
    color: #ffffff; /* 흰색 텍스트 */
    transition: color 0.3s;
}

.navbar .nav-item .nav-link:hover {
    color: #adb5bd; /* 밝은 회색 텍스트 */
}

/* 테이블 스타일 */
.table {
    background-color: #ffffff;
    border-collapse: separate;
    border-spacing: 0 15px; /* 행 사이 간격 */
}

.table thead th {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px;
    border: none;
}

.table tbody tr {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.table tbody td {
    padding: 10px;
    border: none;
}

/* 폼 그룹 스타일 */
.form-group {
    margin-bottom: 20px;
}

.form-group label {
    color: #333333;
    font-weight: bold;
}

/* 프로필 이미지 스타일 */
.user-profile-image {
    border-radius: 50%;
    border: 2px solid #007bff; /* 파란색 테두리 */
    width: 100px;
    height: 100px;
}

/* 이미지 프리뷰 스타일 */
.image-container {
    text-align: center;
    margin-bottom: 20px;
}

.image-preview {
    border-radius: 50%;
    border: 2px solid #007bff; /* 파란색 테두리 */
    width: 100px;
    height: 100px;
}

/* 추가 스타일 */
.input-group .form-control {
    background-color: #f8f9fa; /* 밝은 회색 배경 */
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group .btn {
    background-color: #007bff;
    color: #ffffff;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* 상태 버튼 스타일 */
.btn-outline-secondary {
    background-color: #6c757d; /* 회색 배경 */
    color: #ffffff;
    border: none;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-outline-secondary:hover {
    background-color: #5a6268; /* 더 어두운 회색 */
    transform: scale(1.05);
}
