<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/configFragment :: ConfigFragment}">
    <title>Login</title>
</head>

<body>

<div class="container" style="max-width: 500px; margin-top: 100px">

    <div class="text-center"><h1>로그인 페이지</h1></div>
    <!--입력 폼 시작-->
    <form action="/login-process" method="post" th:action="@{login-process}">
        <div>
            <label for="username"></label>
            <input class="form-control"
                   id="username"
                   name="username"
                   placeholder="아이디"
                   type="text">
        </div>
        <div>
            <label for="password"></label>
            <input class="form-control"
                   id="password"
                   name="password"
                   placeholder="비밀번호"
                   type="password">
        </div>
        <!--입력 폼 끝-->
        <!--버튼-->
        <div class="text-lg-end" style="margin-top: 30px">
            <button class="btn btn-outline-primary"
                    th:onclick="|location.href='@{signup}'|"
                    type="button">회원가입
            </button>
            <button class="btn btn-outline-primary"
                    th:onclick="|location.href='@{/todo/list}'|"
                    type="submit">로그인
            </button>
        </div>
    </form>
    <!--버튼 끝-->

</div>

</body>
</html>