<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/configFragment :: ConfigFragment}">
    <title>Sign Up</title>
</head>

<body>

<div class="container" style="max-width: 500px; margin-top: 100px">
    <div class="text-center"><h1>회원가입</h1></div>

    <!--회원가입 입력 폼 시작-->
    <form method="post" th:action="@{signup}">
        <div>
            <label for="userId"></label>
            <input class="form-control"
                   id="userId"
                   name="userId"
                   placeholder="아이디"
                   type="text">
        </div>
        <div>
            <label for="userPassword"></label>
            <input class="form-control"
                   id="userPassword"
                   name="userPassword"
                   placeholder="비밀번호"
                   type="password">
        </div>
        <div>
            <label for="userName"></label>
            <input class="form-control"
                   id="userName"
                   name="userName"
                   placeholder="닉네임"
                   type="text">
        </div>

        <div class="alert alert-danger" role="alert" th:if="${duplicateUserError}">
            <span th:text="${duplicateUserError}"></span>
        </div>

        <div class="text-lg-end" style="margin-top: 30px">
            <button class="btn btn-outline-primary"
                    id="submit"
                    th:onclick="|location.href='@{login}'|"
                    type="submit">가입완료
            </button>
            <button class="btn btn-outline-primary"
                    th:onclick="|location.href='@{login}'|"
                    type="button">뒤로가기
            </button>
        </div>
    </form>
    <!--회원가입 입력 폼 끝-->
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#submit').on('click', function (e) {
            if (!($('#userId').val() && $('#userPassword').val())) {
                e.preventDefault();
                alert('아이디와 비밀번호, 닉네임은 필수 입력사항입니다.');
                location.href = "/signup";
            }
        });
    });
</script>

</body>
</html>