<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/configFragment :: ConfigFragment}">
    <title>SignUp</title>
</head>

<body>

<div class="container" style="max-width: 500px; margin-top: 100px">
    <div class="text-center"><h1>회원가입</h1></div>

    <form enctype="multipart/form-data" method="post" th:action="@{signup}">
        <!--아이디 비밀번호 닉네임 입력-->

        <div class="form-group">
            <div class="image-container">
                <img alt="Image Preview" class="image-preview" id="imagePreview" src="/images/userProfile.png">
            </div>
            <label for="imageFile">프로필 이미지를 골라주세요.</label>
            <input accept="image/*" class="form-control" id="imageFile" name="imageFile" type="file">
        </div>

        <div>
            <label for="userId"></label>
            <input class="form-control"
                   id="userId"
                   name="userId"
                   placeholder="아이디"
                   type="text">
        </div>
        <div>
            <label for="userPassword"></label>
            <input class="form-control"
                   id="userPassword"
                   name="userPassword"
                   placeholder="비밀번호"
                   type="password">
        </div>
        <div>
            <label for="userName"></label>
            <input class="form-control"
                   id="userName"
                   name="userName"
                   placeholder="닉네임"
                   type="text">
        </div>
        <!--아이디 비밀번호 닉네임 입력 끝-->

        <!--버튼-->
        <div class="text-lg-end" style="margin-top: 30px">
            <button class="btn btn-outline-primary"
                    id="submit"
                    type="submit">가입완료
            </button>
            <button class="btn btn-outline-primary"
                    th:onclick="|location.href='@{login}'|"
                    type="button">뒤로가기
            </button>
        </div>
        <!--버튼 끝-->
    </form>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        const MAX_FILE_SIZE = 1024 * 1024 * 2; // 2MB
        const defaultImageSrc = '/images/userProfile.png'; // 기본 이미지 경로


        $('#submit').on('click', function (e) {
            const userId = $('#userId')
            const userPassword = $('#userPassword')
            const userName = $('#userName');
            const file = $('#imageFile')[0].files[0];

            userId.removeClass('error');
            userPassword.removeClass('error');
            userName.removeClass('error');

            if (!(userId.val() && userPassword.val() && userName.val())) {
                e.preventDefault();
                userId.addClass('error');
                userPassword.addClass('error');
                userName.addClass('error');
                alert('아이디와 비밀번호, 닉네임은 필수 입력사항입니다.');
            } else if (userId.val().length < 4 || userId.val().length > 20) {
                e.preventDefault();
                userId.addClass('error');
                alert('아이디는 최소 4글자 이상, 최대 20글자 이하입니다.');
                userId.focus();
            } else if (userName.val().length < 2 || userName.val().length > 20) {
                e.preventDefault();
                userName.addClass('error');
                alert('닉네임은 최소 2글자 이상, 최대 20글자 이하입니다.')
                userName.focus();
            }

            // 이미지 파일 크기 제한 : 2MB
            if (file && file.size > MAX_FILE_SIZE) {
                e.preventDefault();
                alert('이미지 크기는 2MB를 초과할 수 없습니다.');
                return false;
            }
        });

        // 업로드 이미지 미리보기
        $('#imageFile').on('change', function () {
            const file = this.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    $('#imagePreview').attr('src', e.target.result).show();
                };
                reader.readAsDataURL(file);
            } else {
                $('#imagePreview').attr('src', defaultImageSrc).show();
            }
        });
    });
</script>

</body>
</html>