<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/configFragment :: ConfigFragment}">
    <title>Sign Up</title>
</head>

<body>

<div class="container" style="max-width: 500px; margin-top: 100px">
    <div class="text-center"><h1>회원가입</h1></div>

    <!--회원가입 입력 폼 시작-->
    <form method="post" th:action="@{signup}" th:object="${user}">
        <div>
            <label for="userId"></label>
            <input class="form-control"
                   id="userId"
                   name="userId"
                   placeholder="아이디"
                   th:field="*{userId}"
                   type="text">
        </div>
        <div class="error" style="margin-left: 3px"
             th:if="${validationErrors != null and validationErrors.containsKey('userId')}"
             th:text="${validationErrors.get('userId')}">
        </div>
        <div class="error" style="margin-left: 3px"
             th:if="${duplicateError}"
             th:text="${duplicateError}">
        </div>

        <div>
            <label for="userPassword"></label>
            <input class="form-control"
                   id="userPassword"
                   name="userPassword"
                   placeholder="비밀번호"
                   th:field="*{userPassword}"
                   type="text">
        </div>
        <div class="error" style="margin-left: 3px"
             th:if="${validationErrors != null and validationErrors.containsKey('userPassword')}"
             th:text="${validationErrors.get('userPassword')}">
        </div>

        <div>
            <label for="userName"></label>
            <input class="form-control"
                   id="userName"
                   name="userName"
                   placeholder="닉네임"
                   th:field="*{userName}"
                   type="text">
        </div>
        <div class="error" style="margin-left: 3px"
             th:if="${validationErrors != null and validationErrors.containsKey('userName')}"
             th:text="${validationErrors.get('userName')}">
        </div>

        <div class="text-lg-end" style="margin-top: 30px">
            <button class="btn btn-outline-primary"
                    id="submit"
                    th:onclick="|location.href='@{login}'|"
                    type="submit">가입완료
            </button>
            <button class="btn btn-outline-primary"
                    th:onclick="|location.href='@{login}'|"
                    type="button">뒤로가기
            </button>
        </div>
    </form>
    <!--회원가입 입력 폼 끝-->

    <script>
        document.querySelector('#submit').addEventListener('click', function (e) {
            if (document.querySelector('#userId').value === ''
                || document.querySelector('#userPassword').value === '') {
                e.preventDefault()
                alert('아이디와 비밀번호, 닉네임은 필수 입력사항입니다.');
                window.location.href = "/signup.html";
            }
        });
    </script>

</div>

</body>
</html>