<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/ConfigFragment :: ConfigFragment}">
    <title>Detail</title>
</head>

<body>

<div class="container" style="max-width: 500px; margin-top: 100px">
    <div class="text-center"><h1>일정 수정하기</h1></div>

    <!--수정사항 입력 폼-->
    <div>
        <label for="todoTitle"></label>
        <input class="form-control"
               id="todoTitle"
               name="todoTitle"
               placeholder="제목"
               readonly
               type="text">
    </div>
    <div>
        <label for="todoContent"></label>
        <textarea class="form-control"
                  id="todoContent"
                  name="todoContent"
                  placeholder="내용"
                  readonly
                  type="text"></textarea>
    </div>
    <!--수정사항 입력 폼 끝-->

    <!--시작시간, 종료시간 지정-->
    <div style="margin-top: 30px; margin-bottom: 30px;">
        <div>
            <form>
                <label for='startDatetime'>시작 시간</label><input class="form-control" id='startDatetime' readonly
                                                               type="datetime-local"/>
            </form>
            <script>
                document.getElementById('startDatetime').value = new Date().toISOString().slice(0, 16);
            </script>
        </div>
        <div>
            <form>
                <label for='deadlineDatetime'>종료 시간</label><input class="form-control" id='deadlineDatetime'
                                                                  readonly type="datetime-local"/>
            </form>

            <script>
                document.getElementById('deadlineDatetime').value = new Date().toISOString().slice(0, 16);
            </script>
        </div>
    </div>
    <!--시작시간, 종료시간 지정 종료-->

    <!--중요도 설정-->
    <select aria-label="priority select" class="form-select" disabled>
        <option selected>중요도 설정</option>
        <option value="5">★★★★★</option>
        <option value="4">★★★★</option>
        <option value="3">★★★</option>
        <option value="2">★★</option>
        <option value="1">★</option>
    </select>
    <!--중요도 설정 종료-->

    <div class="text-lg-end" style="margin-top: 30px">
        <button class="btn btn-outline-primary"
                th:onclick="|location.href='@{list}'|">목록
        </button>

        <button class="btn btn-outline-primary"
                th:onclick="|location.href='@{edit}'|">수정
        </button>

        <button class="btn btn-outline-primary"
                th:onclick="|location.href='@{list}'|">삭제
        </button>
    </div>
    <!--수정사항 입력 폼 끝-->

</div>

</body>
</html>