<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="arraysort.todolist.mapper.TodoListMapper">

    <!--할 일 생성-->
    <insert id="createTodo" parameterType="arraysort.todolist.domain.TodoVO"
            keyProperty="todoId">
        insert into todo(user_id,
                         todo_title,
                         todo_content,
                         todo_start,
                         todo_end,
                         todo_priority,
                         todo_done)
        values (#{userId},
                #{todoTitle},
                #{todoContent},
                #{todoStart},
                #{todoEnd},
                #{todoPriority},
                #{todoDone});
    </insert>

</mapper>
