<!DOCTYPE HTML>
<html lang="en">
<head th:replace="~{fragments/configFragment :: ConfigFragment}">
    <title>List</title>
</head>

<body>

<div class="container" style="max-width: 800px; margin-top: 10px;">
    <div class="py-5 text-center"><h2>USER's TODO LIST</h2></div>

    <form action="/login-process" method="post" th:action="@{logout-process}" th:object="${lists}">
        <!--일정 등록 버튼-->
        <div class="row">
            <div class="col">
                <button class="btn btn-outline-primary float-end"
                        onclick="location.href='todoAdd.html'"
                        th:onclick="|location.href='@{add}'|"
                        type="button">일정 등록
                </button>
            </div>
        </div>
        <!--일정 등록 버튼 끝-->

        <hr class="my-4">

        <!--리스트 테이블-->
        <div style="height: 400px; overflow-y: auto">
            <table class="table">
                <thead>
                <tr>
                    <th>작성자</th>
                    <th>TODO</th>
                    <th>Start</th>
                    <th>DeadLine</th>
                    <th>Priority</th>
                    <th>status</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="list : ${lists}">
                    <td th:text="${list.userId}"></td>
                    <td><a href="todoDetail.html" th:href="@{/todo/list/{todoId}(todoId=${list.getTodoId()})}"
                           th:text="${list.todoTitle}"></a></td>
                    <td th:text="${list.todoStart}">2024-07-02</td>
                    <td th:text="${list.todoEnd}">2024-07-03</td>
                    <td th:text="${list.todoPriority}">★★★★★</td>
                    <td>
                        <div class="form-check">
                            <label class="form-check-label" for="flexCheckDefault">
                                <input class="form-check-input" id="flexCheckDefault" type="checkbox" value="">
                            </label>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <!--리스트 테이블 종료-->
        </div>

        <hr class="my-4">

        <!--로그아웃 버튼-->
        <div class="text-lg-end" style="margin-top: 30px">
            <button class="btn btn-outline-primary"
                    th:onclick="|location.href='@{/login}'|"
                    type="submit">로그아웃
            </button>
        </div>
        <!--로그아웃 버튼 끝-->
    </form>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        history.pushState(null, null, location.href);
        window.onpopstate = function () {
            history.forward();
        };
    });
</script>

</body>
</html>