<!DOCTYPE HTML>
<html lang="en">
<head th:replace="~{fragments/configFragment :: ConfigFragment}">
    <title>List</title>
</head>

<body>

<div class="container" style="max-width: 850px; margin-top: 35px;">

    <div class="py-4 text-center d-flex align-items-center justify-content-center">
        <img alt="User Profile Image" class="user-profile-image" th:src="@{${pagination.getSavedImage()}}">
        <h2 style="margin-left: 10px" th:text="|${userName}| + '\'s TODO LIST'">USER's TODO LIST</h2>
    </div>

    <!--일정 등록 로그아웃 버튼-->
    <div class="row mb-3">
        <div class="col d-flex align-items-center">
            <div class="btn-group" role="group">
                <button class="btn btn-outline-primary"
                        th:classappend="${pagination.isDone() == true} ? 'active'"
                        th:onclick="|location.href='@{/todo/list(done=true)}'|"
                        type="button">완료된 일정
                </button>
                <button class="btn btn-outline-primary"
                        th:classappend="${pagination.isDone() == false} ? 'active'"
                        th:onclick="|location.href='@{/todo/list(done=false)}'|"
                        type="button">미완료 일정
                </button>
            </div>

            <form class="d-flex ms-auto" method="get" th:action="@{/todo/list}">
                <input name="todoDone" th:value="${pagination.isDone()}" type="hidden"/>
                <div class="input-group">
                    <input aria-label="제목을 입력하세요."
                           class="form-control"
                           name="searchTitle"
                           placeholder="제목을 입력하세요."
                           th:value="${searchTitle}"
                           type="text">
                    <button class="btn btn-outline-secondary" id="button-addon2" type="submit">검색</button>
                </div>
            </form>

            <div class="ms-auto btn-group" role="group">
                <button class="btn btn-outline-primary"
                        form="updateTodoDone"
                        type="submit">상태 반영
                </button>
                <button class="btn btn-outline-primary"
                        th:onclick="|location.href='@{add}'|"
                        type="button">일정 등록
                </button>
                <button class="btn btn-outline-primary"
                        form="deleteTodosForm"
                        id="deleteButton"
                        type="submit">일정 삭제
                </button>
            </div>
        </div>
    </div>
    <!--일정 등록 로그아웃 버튼 끝-->

    <hr class="my-4">

    <!--리스트 테이블-->
    <div style="height: 400px; overflow-y: auto">
        <form id="updateTodoDone" method="post" th:action="@{/todo/list/updateTodoDone}">
            <input name="todoDone" th:value="${pagination.isDone()}" type="hidden"/>
            <table class="table">
                <thead>
                <tr class="text-center">
                    <th>작성자</th>
                    <th>TODO</th>
                    <th>시작시간</th>
                    <th>종료시간</th>
                    <th>우선순위</th>
                    <th>상태&ensp;
                        <label>
                            <input class="form-check-input" id="selectAllCheckboxes" type="checkbox">
                        </label>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr class="text-center" th:each="list : ${pagination.getTodoListDto()}">
                    <td th:text="${userName}"></td>
                    <td><a href="todoDetail.html" th:href="@{/todo/list/{todoId}(todoId=${list.getTodoId()})}"
                           th:text="${list.todoTitle}"></a></td>
                    <td th:text="${list.todoStart.substring(0, list.todoStart.length()-3)}">yyyy-MM-dd HH:mm</td>
                    <td th:text="${list.todoEnd.substring(0, list.todoEnd.length()-3)}">yyyy-MM-dd HH:mm</td>
                    <td th:text="${list.todoPriority}"></td>
                    <td>
                        <div class="form-check">
                            <label class="form-check-label" for="flexCheckDefault">
                                <input class="form-check-input"
                                       id="flexCheckDefault"
                                       name="checkedTodoIds"
                                       th:checked="${list.todoDone}"
                                       th:value="${list.todoId}"
                                       type="checkbox">
                            </label>
                            <input name="allTodoIds" th:value="${list.todoId}" type="hidden"/>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>

        <form id="deleteTodosForm" method="post" th:action="@{/todo/list/deleteTodos}">
            <input id="deleteTodoIds" name="checkedTodoIds" type="hidden">
            <input name="todoDone" th:value="${pagination.isDone()}" type="hidden"/>
        </form>
    </div>
    <!--리스트 테이블 종료-->

    <hr class="my-4">

    <!--페이지 네비게이션-->
    <div class="d-flex justify-content-between align-items-center">
        <div class="col-3"></div>
        <div class="col-6 d-flex justify-content-center">
            <nav>
                <ul class="pagination justify-content-center">
                    <!-- 처음 페이지로 이동하는 버튼 -->
                    <li class="page-item">
                        <a class="page-link" th:href="@{'/todo/list?page=1&done='+${pagination.isDone()}}"
                           th:text="'&laquo'"></a>
                    </li>
                    <!-- 이전 블록으로 이동하는 버튼 -->
                    <li class="page-item" th:if="${pagination.isPrev == true}">
                        <a class="page-link"
                           th:href="@{'/todo/list?page='+${pagination.startPage - 1}+'&done='+${pagination.isDone()}}"
                           th:text="'&lt'"></a>
                    </li>
                    <!-- 페이지 번호 -->
                    <li class="page-item" th:classappend="${pageNum == pagination.getCurrentPage()} ? 'active'"
                        th:each="pageNum : ${#numbers.sequence(pagination.startPage, pagination.endPage)}">
                        <a class="page-link" th:href="@{'/todo/list?page='+${pageNum}+'&done='+${pagination.isDone()}}"
                           th:text="${pageNum}"></a>
                    </li>
                    <!-- 다음 블록으로 이동하는 버튼 -->
                    <li class="page-item" th:if="${pagination.isNext == true}">
                        <a class="page-link"
                           th:href="@{'/todo/list?page='+${pagination.endPage + 1}+'&done='+${pagination.isDone()}}"
                           th:text="'&gt'"></a>
                    </li>
                    <!-- 끝 페이지로 이동하는 버튼 -->
                    <li class="page-item">
                        <a class="page-link"
                           th:href="@{'/todo/list?page='+${pagination.totalPageCount}+'&done='+${pagination.isDone()}}"
                           th:text="'&raquo'"></a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-3 d-flex justify-content-end">
            <form action="/login-process" method="post" th:action="@{logout-process}">
                <button class="btn btn-outline-primary float-end" style="margin-left: 5px"
                        th:onclick="|location.href='@{/login}'|"
                        type="submit">로그아웃
                </button>
            </form>
        </div>
    </div>
    <!--페이지 네비게이션 끝-->

</div>

<script type="text/javascript">
    $(document).ready(function () {
        // 상태 반영 시
        $('#updateTodoDone').on('submit', function (event) {
            const checkedTodoIds = $('input[name="checkedTodoIds"]:checked');
            const allTodoIds = $('input[name="allTodoIds"]');

            // 체크된 항목이 없을 때 빈 리스트 반환
            if (checkedTodoIds.length === 0) {
                event.preventDefault();
                const hiddenInputCheckedTodo = $('<input>')
                    .attr('type', 'hidden')
                    .attr('name', 'checkedTodoIds')
                    .attr('value', '');
                $(this).append(hiddenInputCheckedTodo);
                this.submit();
            }

            // 일정이 없을 때 빈 리스트 반환
            if (allTodoIds.length === 0) {
                event.preventDefault();
                const hiddenInputAllTodo = $('<input>')
                    .attr('type', 'hidden')
                    .attr('name', 'allTodoIds')
                    .attr('value', '');
                $(this).append(hiddenInputAllTodo);
                this.submit();
            }
        });

        // 전체 선택 체크박스 이벤트 핸들러
        $('#selectAllCheckboxes').on('change', function () {
            if (this.checked) {
                // 전체 체크박스 선택
                $('input[name="checkedTodoIds"]').prop('checked', true);
            } else {
                // 전체 체크박스 해제
                $('input[name="checkedTodoIds"]').prop('checked', false);
            }
        });

        // 삭제 버튼 이벤트 핸들러
        $('#deleteButton').on('click', function (event) {
            const checkedTodoIds = $('input[name="checkedTodoIds"]:checked').map(function () {
                return $(this).val();
            }).get();

            // 체크한 일정이 하나 이상일 때
            if (checkedTodoIds.length > 0) {
                $('#deleteTodosForm input[name="checkedTodoIds"]').val(checkedTodoIds.join(','));
                $('#deleteTodosForm').submit();
            } else { // 체크한 일정이 없다면 alert
                event.preventDefault();
                alert('삭제할 일정을 선택해주세요.');
            }
        });

        history.pushState(null, null, location.href);
        window.onpopstate = function () {
            history.forward();
        };
    });
</script>

</body>
</html>