<!DOCTYPE HTML>
<html lang="en">
<head th:replace="~{fragments/configFragment :: ConfigFragment}">
    <title>List</title>
</head>

<body>

<div class="container" style="max-width: 800px; margin-top: 10px;">

    <div class="py-5 text-center"><h2 th:text="|${userName}| + '\'s TODO LIST'">USER's TODO LIST</h2></div>

    <!--일정 등록 로그아웃 버튼-->
    <div class="row">
        <div class="col">
            <div>
                <button class="btn btn-outline-primary float-start"
                        style="margin-right: 5px"
                        th:classappend="${pagination.isDone() == true} ? 'active'"
                        th:onclick="|location.href='@{/todo/list(done=true)}'|"
                        type="button">완료된 일정
                </button>
                <button class="btn btn-outline-primary float-start"
                        th:classappend="${pagination.isDone() == false} ? 'active'"
                        th:onclick="|location.href='@{/todo/list(done=false)}'|"
                        type="button">미완료 일정
                </button>
            </div>
            <div>
                <button class="btn btn-outline-primary float-end"
                        form="deleteTodosForm"
                        id="deleteButton"
                        style="margin-left: 5px"
                        type="submit">완료 일정 삭제
                </button>
                <button class="btn btn-outline-primary float-end"
                        style="margin-left: 5px"
                        th:onclick="|location.href='@{add}'|"
                        type="button">일정 등록
                </button>
                <button class="btn btn-outline-primary float-end"
                        form="updateTodoDone"
                        type="submit">상태 반영
                </button>

            </div>
        </div>
    </div>
    <!--일정 등록 로그아웃 버튼 끝-->

    <hr class="my-4">

    <!--리스트 테이블-->
    <div style="height: 400px; overflow-y: auto">
        <form id="updateTodoDone" method="post" th:action="@{/todo/list/updateTodoDone}">
            <table class="table">
                <thead>
                <tr class="text-center">
                    <th>작성자</th>
                    <th>TODO</th>
                    <th>시작시간</th>
                    <th>종료시간</th>
                    <th>우선순위</th>
                    <th>상태&ensp;
                        <label>
                            <input class="form-check-input" id="selectAllCheckboxes" type="checkbox">
                        </label>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr class="text-center" th:each="list : ${pagination.getTodoListDto()}">
                    <td th:text="${userName}"></td>
                    <td><a href="todoDetail.html" th:href="@{/todo/list/{todoId}(todoId=${list.getTodoId()})}"
                           th:text="${list.todoTitle}"></a></td>
                    <td th:text="${list.todoStart.substring(0, list.todoStart.length()-3)}">yyyy-MM-dd HH:mm</td>
                    <td th:text="${list.todoEnd.substring(0, list.todoEnd.length()-3)}">yyyy-MM-dd HH:mm</td>
                    <td th:text="${list.todoPriority}"></td>
                    <td>
                        <div class="form-check">
                            <label class="form-check-label" for="flexCheckDefault">
                                <input class="form-check-input"
                                       id="flexCheckDefault"
                                       name="todoIds"
                                       th:checked="${list.todoDone}"
                                       th:value="${list.todoId}"
                                       type="checkbox">
                            </label>
                            <input name="allTodoIds" th:value="${list.todoId}" type="hidden"/>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>

        <form id="deleteTodosForm" method="post" th:action="@{/todo/list/deleteTodos}">
            <input id="deleteTodoIds" name="todoIds" type="hidden">
        </form>
    </div>
    <!--리스트 테이블 종료-->

    <hr class="my-4">

    <!--페이지 네비게이션-->
    <div class="d-flex justify-content-between align-items-center">
        <div class="col-3"></div>
        <div class="col-6 d-flex justify-content-center">
            <nav>
                <ul class="pagination justify-content-center">
                    <!-- 처음 페이지로 이동하는 버튼 -->
                    <li class="page-item">
                        <a class="page-link" th:href="@{'/todo/list?page=1&done='+${pagination.isDone()}}"
                           th:text="'&laquo'"></a>
                    </li>
                    <!-- 이전 블록으로 이동하는 버튼 -->
                    <li class="page-item" th:if="${pagination.isPrev == true}">
                        <a class="page-link"
                           th:href="@{'/todo/list?page='+${pagination.startPage - 1}+'&done='+${pagination.isDone()}}"
                           th:text="'&lt'"></a>
                    </li>
                    <!-- 페이지 번호 -->
                    <li class="page-item" th:classappend="${pageNum == pagination.getCurrentPage()} ? 'active'"
                        th:each="pageNum : ${#numbers.sequence(pagination.startPage, pagination.endPage)}">
                        <a class="page-link" th:href="@{'/todo/list?page='+${pageNum}+'&done='+${pagination.isDone()}}"
                           th:text="${pageNum}"></a>
                    </li>
                    <!-- 다음 블록으로 이동하는 버튼 -->
                    <li class="page-item" th:if="${pagination.isNext == true}">
                        <a class="page-link"
                           th:href="@{'/todo/list?page='+${pagination.endPage + 1}+'&done='+${pagination.isDone()}}"
                           th:text="'&gt'"></a>
                    </li>
                    <!-- 끝 페이지로 이동하는 버튼 -->
                    <li class="page-item">
                        <a class="page-link"
                           th:href="@{'/todo/list?page='+${pagination.totalPageCount}+'&done='+${pagination.isDone()}}"
                           th:text="'&raquo'"></a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-3 d-flex justify-content-end">
            <form action="/login-process" method="post" th:action="@{logout-process}">
                <button class="btn btn-outline-primary float-end" style="margin-left: 5px"
                        th:onclick="|location.href='@{/login}'|"
                        type="submit">로그아웃
                </button>
            </form>
        </div>
    </div>
    <!--페이지 네비게이션 끝-->

</div>

<script type="text/javascript">
    $(document).ready(function () {
        // 완료된 일정에서 아무것도 체크되어 있지 않을 때 null return 방지
        $('#updateTodoDone').on('submit', function (event) {
            const checkboxes = $('input[name="todoIds"]:checked');
            if (checkboxes.length === 0) {
                event.preventDefault();
                const hiddenInput = $('<input>')
                    .attr('type', 'hidden')
                    .attr('name', 'todoIds')
                    .attr('value', '');
                $(this).append(hiddenInput);
                this.submit();
            }
        });

        // 전체 선택 체크박스 이벤트 핸들러
        $('#selectAllCheckboxes').on('change', function () {
            if (this.checked) {
                // 전체 체크박스 선택
                $('input[name="todoIds"]').prop('checked', true);
            } else {
                // 전체 체크박스 해제
                $('input[name="todoIds"]').prop('checked', false);
            }
        });

        $('#deleteButton').on('click', function (event) {
            const selectedTodoIds = $('input[name="todoIds"]:checked').map(function () {
                return $(this).val();
            }).get();

            if (selectedTodoIds.length > 0) {
                $('#deleteTodosForm input[name="todoIds"]').val(selectedTodoIds.join(','));
                $('#deleteTodosForm').submit();
            } else {
                event.preventDefault();
                alert('삭제할 일정을 선택해주세요.');
            }
        });

        history.pushState(null, null, location.href);
        window.onpopstate = function () {
            history.forward();
        };
    });
</script>

</body>
</html>