<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/configFragment :: ConfigFragment}">
    <title>Add</title>
</head>

<body>

<div class="container" style="max-width: 500px; margin-top: 100px">
    <div class="text-center"><h1>할 일 추가</h1></div>

    <form method="post" th:action="@{/todo/add}">
        <input name="todoId" type="hidden" value="0"/>
        <!--제목 내용 입력-->
        <div>
            <label for="todoTitle"></label>
            <input class="form-control"
                   id="todoTitle"
                   name="todoTitle"
                   placeholder="제목"
                   type="text">
        </div>
        <div>
            <label for="todoContent"></label>
            <textarea class="form-control"
                      id="todoContent"
                      name="todoContent"
                      placeholder="내용"
                      type="text"></textarea>
        </div>
        <!--제목 내용 입력 끝-->

        <!--시작시간 종료시간 지정-->
        <div style="margin-top: 30px; margin-bottom: 30px;">
            <div>
                <label for='todoStart'>시작 시간</label>
                <input class="form-control" id='todoStart' name="todoStart" type="datetime-local"/>
            </div>
            <div>
                <label for='todoEnd'>종료 시간</label>
                <input class="form-control" id='todoEnd' name="todoEnd" type="datetime-local"/>
            </div>
        </div>

        <!--시작시간 종료시간 지정 끝-->

        <!--중요도 설정-->
        <select aria-label="priority select" class="form-select" name="todoPriority">
            <option selected value="5">중요도 설정(기본 : 5)</option>
            <option value="5">★★★★★</option>
            <option value="4">★★★★</option>
            <option value="3">★★★</option>
            <option value="2">★★</option>
            <option value="1">★</option>
        </select>
        <!--중요도 설정 끝-->

        <!--목록 저장 버튼-->
        <div class="text-lg-end" style="margin-top: 30px">
            <button class="btn btn-outline-primary"
                    th:onclick="|location.href='@{list}'|"
                    type="button">목록
            </button>
            <button class="btn btn-outline-primary"
                    id="save"
                    type="submit">저장
            </button>
        </div>
        <!--목록 저장 버튼 끝-->
    </form>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        const todoTitle = $('#todoTitle');
        const todoStart = $('#todoStart');
        const todoEnd = $('#todoEnd');
        const todoContent = $('#todoContent');

        // 시작 종료 시간 현재 날짜 초기화
        todoStart.val(new Date().toISOString().slice(0, 16));
        todoEnd.val(new Date().toISOString().slice(0, 16));

        todoTitle.removeClass('error');
        todoStart.removeClass('error');
        todoEnd.removeClass('error');
        todoContent.removeClass('error');

        // 필수 입력값 검사
        $('#save').on('click', function (e) {
            if (!(todoTitle.val() && todoStart.val() && todoEnd.val())) {
                e.preventDefault();
                todoTitle.addClass('error');
                todoStart.addClass('error');
                todoEnd.addClass('error');
                alert('제목, 시작시간, 종료시간 입력은 필수입니다.');
                todoTitle.focus();
            } else if (todoContent.val().length > 200) {
                todoContent.addClass('error');
                e.preventDefault();
                alert('내용은 최대 200자까지 입력할 수 있습니다.');
                todoContent.focus();
            }
        });

    });
</script>

</body>
</html>